html,
body,
.root {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 10vh;
}

.mudanca-estante {
  display: flex;
  justify-content: center;
}

.modal-mudanca {
  position: fixed;
  z-index: 1;
  display: none;
  background-image: url(../img/info-icon.svg);
  background-size: 2vh;
  background-position: 2%;
  background-repeat: no-repeat;
  background-color: #526cff;
  border-radius: 30px;
  border: 2px solid #1a0061;
  padding: 2vh 2vw 0 3vw;
}

.texto-alerta-mudanca {
  text-align: center;
  font-weight: 500;
  color: #000000;
}

.menu {
  background-color: #444444;
}

#ativo {
  color: #3311FF; 
}

#menu-link {
  color: #EFEFEF;
}

#menu-link:hover {
  color: #3311FF;
}

form .pesquisa-botao {
  color: #3311FF;
  border-color: #FFFFFF;
}

form .pesquisa-botao:hover {
  background-color: #FFFFFF;
}

.gif-loading {
  display: none;
  height: auto;
  padding-left: 10vw;
}

.livros-lendo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}

.livros-lidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}

.livros-quero-ler {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}

.estilo-geral-card {
  margin: 5vh 1vw;
}

.card-espaco {
  width: 12rem;
  height: auto;
}

#imagem-card {
  height: 200px;
}

.estilo-card {
  justify-content: center;
  margin: 3vh 3vw 3vh 3vw;
}

.titulo-card {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.texto-card {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pesquisa-erro {
  display: none;
  text-align: center;
}

.desce-conteudo {
  transform: translate(0, 0);
  transition: 0s;
}

.rodape {
  background-color:#444444;
  position: fixed;
}

.texto-rodape {
  color: #CCCCCC;
  text-align: center;
  padding-top: 2vh;
}

.input-search-books {
  width: 20%;
}

.search-books-results {
  padding: 1vh 4vw 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.texto-pesquisa {
  margin: 5vh 0 0 7vw;
  display: none;
}

.pesquisa-palavra {
  display: none;
}

@media screen and (min-width: 320px) {
  .gif-loading {
    height: 20vh;
  }

  .modal-mudanca {
    margin-top: 2vh;
  }

  .desce-conteudo {
    transform: translateY(29vh);
  }
}

@media screen and (min-width: 375px) {
  .desce-conteudo {
    transform: translateY(29vh);
  }
}

@media screen and (min-width: 425px) {
  .desce-conteudo {
    transform: translateY(29vh);
  }
}

@media screen and (min-width: 768px) {
  .desce-conteudo {
    transform: translateY(18vh);
  }
}

@media screen and (min-width: 992px) {
  .desce-conteudo {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1440px) {
  .desce-conteudo {
    transform: translateY(0);
  }
}